In [1]:
import pandas as pd
import numpy as np

In [2]:
a = pd.Series([1,4,6,5,7,10,6])

In [4]:
a.describe()

count     7.000000
mean      5.571429
std       2.760262
min       1.000000
25%       4.500000
50%       6.000000
75%       6.500000
max      10.000000
dtype: float64

In [6]:
df = pd.DataFrame(
    [
        ['fchollet/keras',11302], 
        ['openai/universe', 4350], 
        ['pandas-dev/pandas', 8168]
    ]
)

In [7]:
df.shape

(3, 2)

In [8]:
df

                   0      1
0     fchollet/keras  11302
1    openai/universe   4350
2  pandas-dev/pandas   8168

In [9]:
df = pd.DataFrame(
    [
        ['fchollet/keras',11302], 
        ['openai/universe', 4350], 
        ['pandas-dev/pandas', 8168]
    ],
    columns=['repository','stars']
    
)

In [10]:
df

          repository  stars
0     fchollet/keras  11302
1    openai/universe   4350
2  pandas-dev/pandas   8168

In [13]:
df['stars']

0    11302
1     4350
2     8168
Name: stars, dtype: int64

In [15]:
df['repository']

0       fchollet/keras
1      openai/universe
2    pandas-dev/pandas
Name: repository, dtype: object

In [17]:
df['stars'].mean()

7940.0

In [18]:
df['stars'].median()

8168.0

In [22]:
df.iloc[0]

repository    fchollet/keras
stars                  11302
Name: 0, dtype: object

In [23]:
df.iloc[0]

repository    fchollet/keras
stars                  11302
Name: 0, dtype: object