In [4]:
import pandas as pd
from db import DB
from db import DemoDB

In [5]:
database = DemoDB()

Indexing schema. This will take a second...finished!

In [6]:
database.tables

Refreshing schema. Please wait...done!

+--------+---------------+----------------------------------------------------------------------------------+
| Schema | Table         | Columns                                                                          |
+--------+---------------+----------------------------------------------------------------------------------+
| public | Album         | AlbumId, Title, ArtistId                                                         |
| public | Artist        | ArtistId, Name                                                                   |
| public | Customer      | CustomerId, FirstName, LastName, Company, Address, City, State, Country, PostalC |
|        |               | ode, Phone, Fax, Email, SupportRepId                                             |
| public | Employee      | EmployeeId, LastName, FirstName, Title, ReportsTo, BirthDate, HireDate, Address, |
|        |               |  City, State, Country, PostalCode, Phone, Fax, Email                             |
| public | Genre         | GenreId, Name                                                                    |
| public | Invoice       | InvoiceId, CustomerId, InvoiceDate, BillingAddress, BillingCity, BillingState, B |
|        |               | illingCountry, BillingPostalCode, Total                                          |
| public | InvoiceLine   | InvoiceLineId, InvoiceId, TrackId, UnitPrice, Quantity                           |
| public | MediaType     | MediaTypeId, Name                                                                |
| public | Playlist      | PlaylistId, Name                                                                 |
| public | PlaylistTrack | PlaylistId, TrackId                                                              |
| public | Track         | TrackId, Name, AlbumId, MediaTypeId, GenreId, Composer, Milliseconds, Bytes, Uni |
|        |               | tPrice                                                                           |
+--------+---------------+----------------------------------------------------------------------------------+

In [7]:
database.tables.Employee

+---------------------------------------------------------------------------------------------+
|                                           Employee                                          |
+------------+--------------+---------------------+-------------------------------------------+
| Column     | Type         | Foreign Keys        | Reference Keys                            |
+------------+--------------+---------------------+-------------------------------------------+
| EmployeeId | INTEGER      |                     | Customer.SupportRepId, Employee.ReportsTo |
| LastName   | NVARCHAR(20) |                     |                                           |
| FirstName  | NVARCHAR(20) |                     |                                           |
| Title      | NVARCHAR(30) |                     |                                           |
| ReportsTo  | INTEGER      | Employee.EmployeeId |                                           |
| BirthDate  | DATETIME     |                     |                                           |
| HireDate   | DATETIME     |                     |                                           |
| Address    | NVARCHAR(70) |                     |                                           |
| City       | NVARCHAR(40) |                     |                                           |
| State      | NVARCHAR(40) |                     |                                           |
| Country    | NVARCHAR(40) |                     |                                           |
| PostalCode | NVARCHAR(10) |                     |                                           |
| Phone      | NVARCHAR(24) |                     |                                           |
| Fax        | NVARCHAR(24) |                     |                                           |
| Email      | NVARCHAR(60) |                     |                                           |
+------------+--------------+---------------------+-------------------------------------------+

In [ ]:
pd.to_datetime(log_df['date'], format='%Y-%m-%d %H:%M:%S.%f')
log_df.types
log_df.set_index(['date'], inplace=True)